#root{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-image: url(./IMGs/bg.jpg);
    background-position: top;
    background-repeat: repeat-x;
    background-size: auto;
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: tech;
    src: url(./Fonts/ShareTechMono-Regular.ttf);
}

#bar{
    display: flex;
    width:100%;
    height: 75px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: space-around;
    font-family: tech;
}

a{
    text-decoration: none;
}

.icon:hover{
    height: 40px;
    width: 45px;
    transition-duration: 0.5s;
}

.icon{
    height: 35px;
    width: 40px;
}

.logo{
    height: 67px;
}

.logo:hover{
    height: 73px;
    transition-duration: 0.5s;
}

#receive{
    width: 30%;
    display: flex;
    align-self: center;
    color: #9ab5ce;
    font-family: tech, monospace;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: center;
    height: 85px;
    padding: 10px;
    background-color: #003b6f93;
    text-align: center;
}

#texto{
    background-color: white;
    border: solid 2px #000033 ;
    padding: 5px;
}

#imgOutput{
    display: flex;
    flex-direction: column;
    background-color: #00000066;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-family: tech, monospace;
}

#imgOut{
    width: 500px;
    height: 400px;
}

#sub{
    margin-top: 5px;
    width: 70px;
    background-color: #003b6f;
    border: 1px solid #000033;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.582);
    border-radius: 4px;
}

#sub:hover{
    width: 75px;
    height: 25px;
    transition-duration: 0.5s;
}